<div class="page-header">
	<h1>Temas</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Agregar tema</h2>
	</div>
	<div class="panel-body">
		<form class="navbar-form navbar-left" role="login"
			th:action="@{/bck/topics}" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="title"
					placeholder="Título" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="description"
					placeholder="Descripción" />
			</div>
			<button type="submit" class="btn btn-default">crear</button>
		</form>
	</div>
</div>
<div>
	<ul class="list-group">
		<th:block th:each="topic : ${topics}">
			<li class="list-group-item">
				<form th:action="@{/bck/topic/{id}/remove/(id=${topic.id})}"
					method="post">
					<a th:href="@{/bck/topic/{id}/(id=${topic.id})}">
						<h4 class="list-group-item-heading" th:text="${topic.title}"></h4>
					</a>
					<p th:text="${topic.description}"></p>
					<button type="submit" class="glyphicon glyphicon-trash"></button>
				</form>
			</li>
		</th:block>
	</ul>
</div>