<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css" media="all"
	href="/css/bootstrap.min.css"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" href="/css/font-awesome.min.css"
	th:href="@{/assets/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" media="all" href="/css/summernote.min.css"
	th:href="@{/assets/sumernote/summernote.css}" />
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css"
	th:href="@{/css/main.css}" />	
<script src="/js/jquery.min.js" th:src="@{/assets/jquery/js/jquery.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script src="/js/summernote.min.js" th:src="@{/assets/sumernote/summernote.min.js}"></script>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="70">
	<!-- header -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Web Presentation</a>
			<span th:unless="${topic} == null" th:text="${topic.title}"></span>			
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()" class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><span sec:authentication="name"></span><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/bck/topics">Topics</a></li>
						<li role="separator" class="divider"></li>
						<li>
				            <form th:action="@{/logout}" method="post">
				            	<button type="submit" class="btn btn-default">Cerrar sesión</button>
				        	</form>
				        </li>
					</ul></li>
				<li sec:authorize="isAnonymous()">
					<ul>
						<form class="navbar-form navbar-left" role="login" th:action="@{/view/login}" method="post">
						  <div class="form-group">
						    <input type="text" class="form-control" name="username" placeholder="user"/>
						  </div>
						  <div class="form-group">
						    <input type="password" class="form-control" name="password" placeholder="password"/>
						  </div>  
						  <button type="submit" class="btn btn-default">Iniciar sesión</button>
						</form>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!-- end header -->
	<div class="container">
		<div class="row">
			<div th:replace="(${body} == null) ? inicio : ${body}"></div>
		</div>
	</div>
	<!-- footer -->
	<footer class="well well-sm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<p>
							Copyright &copy; <a href="http://tenochsoftware.com/">Tenoch
								Software</a>|All right reserved.
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->		
</body>
</html>